/* @media (max-width: 1000px) {
  .css-kr4k96 {
    margin-bottom: 50px;
    flex-direction: column;
    width: 80% !important;
    margin-bottom: 50%;
  }
  .css-1iwh65q-MuiPaper-root-MuiCard-root {
    width: auto !important;
    margin-bottom: 10%;
  }
} */
