.section--light {
  background: #282828 !important;
}

.duo {
  padding: 40px 0;
}

.duo__item:first-child {
  padding-bottom: 40px;
}

.duo__item {
  padding: 0;
  width: 100%;
  position: relative;
}

.feature h2 {
  line-height: 1.15;
  font-size: 36px;
  margin: 0;
}

.duo__item .feature p {
  font-size: 18px;
  line-height: 1.5;
  color: #c3c3c3;
  margin: 30px 0;
  max-width: 480px;
}

.intro-video-thumb {
  display: block;
  margin-top: 20px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #414141;
  position: relative;
  background: #121212;
  cursor: pointer;
}

.feature .home-footnote {
  font-size: 16px;
  line-height: 1.5;
}

.usermap {
  /* position: absolute; */
  width: 100%;

  /* Добавляем анимацию */
  transition: transform 0.3s ease-in-out;
}

.usermap:hover {
  /* Изменяем свойства SVG при наведении */
  transform: scale(1.2);

  /* Добавляем анимацию эквалайзера */
  animation: equalizer-animation 0.6s infinite;
}

@keyframes equalizer-animation {
  0% {
    /* Начальное состояние эквалайзера */
    transform: scaleY(1);
  }

  50% {
    /* Середина анимации */
    transform: scaleY(1.3);
  }

  100% {
    /* Конечное состояние эквалайзера */
    transform: scaleY(1);
  }
}

.usermap__map {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.usermap__map:hover {
  filter: invert(90%);
}

@media (min-width: 800px) {
  .duo {
    display: flex;
    padding: 80px 0;
  }

  .duo--reverse .duo__item .feature {
    padding: 0 0 0 40px;
  }

  .duo--reverse {
    flex-direction: row-reverse;
  }

  .duo__item {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .duo__item .feature {
    padding: 0 40px 0 0;
  }

  .duo__item:first-child {
    padding-bottom: 0;
  }

  .feature {
    margin: 0 auto;
  }

  .feature h2 {
    font-size: 50px;
  }

  .intro-video-thumb {
    width: 240px;
  }

  .usermap__user {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

.usermap {
  /* background: url("/blurred-profiles-94d1d7c2a868c2b0d911068479f2f763a281cfcf3a80d3da5ead8f2b8107812f.gif") center center no-repeat;
  background-attachment: local;
  background-size: cover;
  z-index: 900;
  padding: 80px 0;
  backdrop-filter: blur(666px);
  position: absolute; */
}
